@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #111;
}
*{
    box-sizing: border-box;
}
h1,h3{
    font-weight: 40;
}
.weather-app{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1; /*change to 0 once the whole app is finished*/
}
/*Add background overlay*/
.weather-app::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 0;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}


.timezone{
    font-size: 2em;
    position: absolute;
    left: 91px;
    text-align: left;
    top: 21px;

}
.timezone h4{
    font-size: 15px;
}

.current-weather{
position: fixed;
top: 477px;
left: 620px;
text-align: center;
}
.current-weather h2{
    font-size: 15px;
}
.current-weather img{
    width: 130px;
}

.minmax{
position: absolute;
right: 547px;
width: 288px;
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 13px;
top: 153px;
}
.minmax img{

}
.temp{
    font-size: 7em;
    position: absolute;
    right: 540px;
    text-align: center;

}
.temp h2{
    font-size: 10px;
}
.time{
position: fixed;
bottom: 33px;
left: 50px;
width: 35%;
text-align: left;
}
.time h3{
    font-size: 65px;
}
.time .date{
    font-size: 33px;
}
.weather{

}
.weather img{
    display: block;
    margin: 0.5em 0;
}

.panel{
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 90);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form{
    margin-bottom: 3em;
}


.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
    border-top: 1px #ccc solid;
}

.panel ul li{
    color: #ccc;
    margin: 2.5em 0;
}
.panel ul h4{
    position: absolute;
    top:0;
    margin: 2.5em 0;
}
.panel ul h5{
font-size: 16px;
border-bottom: 1px #ccc solid;
}

.details li{
display: flex;
justify-content: space-between;
align-items: center;
}
.details_ li{
display: flex;
justify-content: space-between;
align-items: center;
}
.submit {
    position: fixed;
    bottom:3;
    left:1;
    padding: 1em;
    margin: 0;
    border-radius:0px 13px;
    border:none;
    background: rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    font-size:15px;
    transition: 0.5s;
}
.submit:hover{
    background: rgba(0,0,0,0.2);
    color: #ccc;

}
